@charset "UTF-8";
*,
*:before,
*:after {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Kurale", serif;
  position: relative; }
  body::after {
    content: '18+';
    position: absolute;
    font-family: "IBM Plex Mono", monospace;
    top: 10px;
    right: 20px;
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #9b9b9b; }

.first-page {
  margin: 0 0 0 0;
  padding: 50px 0 0 0;
  width: 100%;
  height: 100vh;
  background-image: url(../img/answer_bg_mobile.jpg);
  background-size: cover;
  background-position: bottom right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.first-text {
  margin: 0 auto;
  width: 90%;
  background-color: #fff;
  padding: 10px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #000;
  font-weight: 400;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 5px rgba(180, 201, 214, 0.9); }

.fpage-bottom {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 25px 0; }

.button {
  width: 100px;
  height: 100px;
  padding: 0 0 0 7px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  background-color: #CC4331;
  border-radius: 50%;
  text-shadow: 0 -1px -1px #af3a2a;
  box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px #919191;
  transition: all .15s ease-in-out;
  border: 0px;
  outline: none; }
  .button:hover {
    cursor: pointer;
    background-color: #d25544;
    text-shadow: 0 -1px -1px #c4402f;
    box-shadow: 0 4px 0 #c4402f, 0 5px 5px 1px #CC4331; }
  .button:active {
    outline: none;
    margin-bottom: -4px;
    box-shadow: none; }
  .button.pause:before {
    content: '\2502\2502';
    font-weight: 500; }
  .button.play:before {
    content: '\25B6';
    font-size: 2.5rem; }
  .button.again:before {
    content: '\21BB';
    font-size: 3.5rem;
    font-weight: 600; }

._innactive {
  display: none; }

.clouds-main {
  margin: -40px 0 0 -115px; }

.clouds-play {
  width: 265px;
  height: 277px;
  transform: rotate(-15deg);
  background-image: url(../img/balloon-orange-mobile.png);
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  background-size: 80%; }
  .clouds-play::before {
    position: absolute;
    content: '\2014\00A0Слышно? \00A0\00A0Не\00A0громко?';
    font-family: "IBM Plex Mono", monospace;
    color: #fff;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    top: 65px;
    right: 70px;
    width: 100px;
    transform: rotate(15deg); }

.clouds-pause {
  background-image: url(../img/balloon-green-mobile.png);
  background-repeat: no-repeat;
  background-position: top right;
  position: relative; }
  .clouds-pause::before {
    position: absolute;
    content: '\2014\00A0А\00A0что, \00A0\00A0не\00A0понравилось?';
    font-family: "IBM Plex Mono", monospace;
    color: #fff;
    font-size: 26px;
    line-height: 28px;
    font-weight: 500;
    top: 65px;
    right: 330px;
    width: 100px; }

.clouds-info {
  background-image: url(../img/balloon-blue-mobile.png);
  background-repeat: no-repeat;
  background-position: top right;
  position: relative; }
  .clouds-info::before {
    position: absolute;
    content: '\2014\00A0Листай ниже. Там\00A0подробности.';
    font-family: "IBM Plex Mono", monospace;
    color: #fff;
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
    top: 65px;
    right: 170px;
    width: 250px; }

.clouds-site {
  background-image: url(../img/balloon-red-mobile.png);
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  color: #fff;
  font-size: 14px;
  font-weight: 400; }

.link {
  color: #fff;
  cursor: pointer; }
  .link:hover {
    text-decoration: none;
    color: #000; }
