@charset "UTF-8";
*,
*:before,
*:after {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "IBM Plex Mono", monospace;
    font-family: "Kurale", serif;
    position: relative;
}

body::after {
    content: '0+';
    position: absolute;
    font-family: "IBM Plex Mono", monospace;
    top: 10px;
    right: 20px;
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #2fb7c9;
}

.first-page {
    margin: 0 0 0 0;
    padding: 50px 0 0 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.bgimg-1 {
    background-image: url(../img/when/rose-1.jpg);
    opacity: 1;
    transition-property: opacity;
    transition: 1.4s;
}

.bgimg-2 {
    background-image: url(../img/when/rose-2.jpg);
    opacity: 1;
    transition-property: opacity;
    transition: 1.4s;
}

.bgimg-3 {
    background-image: url(../img/when/rose-3.jpg);
    opacity: 1;
    transition-property: opacity;
    transition: 2s;
}

.first-text {
    display: block;
    margin: 0 auto;
    width: 90%;
    background-color: #fff;
    padding: 10px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    line-height: 1.25;
    color: #000;
    font-weight: 400;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 5px rgba(180, 201, 214, 0.9);
}

.fpage-top {
    margin: 0 0 20px 0;
}

.fpage-bottom {
    width: 90%;
    margin: 0 auto;
    padding: 0 0 35px 0;
}

.button {
    width: 150px;
    height: 75px;
    padding: 0 0 0 7px;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    background-color: #2fb7c9;
    border-radius: 20px;
    text-shadow: 0 -1px -1px #af3a2a;
    box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px #919191;
    transition: all .15s ease-in-out;
    border: 0px;
    outline: none;
}

.button:hover {
    cursor: pointer;
    background-color: #d25544;
    text-shadow: 0 -1px -1px #c4402f;
    box-shadow: 0 4px 0 #c4402f, 0 5px 5px 1px #CC4331;
}

.button:active {
    outline: none;
    margin-bottom: -4px;
    box-shadow: none;
}

.button.pause:before {
    content: '||';
    font-size: 2.5rem;
    padding: 0 17px 0 7px;
    font-weight: 500;
}

.button.play:before {
    content: '\25BA';
    font-size: 2.5rem;
}

.button.again:before {
    content: '\21BB';
    font-size: 3.5rem;
    font-weight: 600;
}

.info-margin {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    margin-bottom: 45%;
    display: block;
    background-color: #fff;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    line-height: 1.25;
    color: #000;
    font-weight: 400;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 5px rgba(180, 201, 214, 0.9);
}

.container {
    padding: 0 0 0 0;
    margin: 0 auto;
    width: 93vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.author-text {
    margin: 0 0 0 0;
    padding: 30px 0 30px 0;
    width: 100%;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: #000;
}

.video {
    margin: 0 auto;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    width: 100%;
}

.sign {
    margin: 5px 0;
    height: 70px;
    padding: 0 0 0 0;
    font-family: "IBM Plex Mono", monospace;
    color: #000;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign__link {
    cursor: pointer;
}

.sign__link:hover {
    text-decoration: none;
    color: #505050;
}

@media only screen and (min-height: 600px) and (max-height: 749px) and (orientation: portrait) {
    .author-text {
        font-size: 1.4rem;
        line-height: 1.25;
    }
}

@media only screen and (min-height: 750px) and (max-height: 799px) and (min-width: 500px) and (max-width: 599px) and (orientation: portrait) {
    .author-text {
        font-size: 1.4rem;
        line-height: 1.25;
    }
    .video {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-height: 800px) and (max-height: 1024px) and (min-width: 600px) and (orientation: portrait) {
    .first-text {
        font-size: 2rem;
        line-height: 1.25;
    }
    .video {
        width: 550px;
        height: 308px;
    }
    .author-text {
        font-size: 1.6rem;
        line-height: 1.25;
    }
}

@media only screen and (max-width: 700px) and (orientation: landscape) {
    .first-text {
        margin: 0 auto;
        width: 50%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 799px) and (orientation: landscape) {
    .first-text {
        margin: 0 auto;
        width: 50%;
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1023px) and (orientation: landscape) {
    .first-text {
        margin: 0 auto;
        width: 50%;
        font-size: 1.5rem;
    }
    .video {
        width: 550px;
        height: 308px;
    }
    .author-text {
        font-size: 1.6rem;
        line-height: 1.25;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) and (orientation: landscape) {
    .first-text {
        margin: 0 auto;
        width: 50%;
        font-size: 1.6rem;
    }
    .video {
        width: 550px;
        height: 308px;
    }
    .author-text {
        font-size: 1.6rem;
        line-height: 1.25;
    }
}

@media only screen and (min-width: 1366px) and (orientation: landscape) {
    .first-text {
        margin: 0 auto;
        width: 50%;
        font-size: 1.6rem;
    }
    .video {
        width: 550px;
        height: 308px;
    }
    .author-text {
        width: 600px;
        font-size: 1.6rem;
        line-height: 1.25;
    }
}