$text-main_color: #000;
$text-second_color: #fff;
$btn-color_1: #9b9b9b;
// $btn-color_1: #f25d30;
$btn-color_2:#919191;
// $btn-color_2:#e03b00;
$btn-color_3:#505050;
// $btn-color_3:#ba2500;
$btn-color_4:#5f5e5e;
// $btn-color_4:#9b3100;
$font-main: 'IBM Plex Mono',
monospace;
$font-btn: 'Kurale',
serif;