@import '_param';
*,
*:before,
*:after {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: $font-main;
    font-family: $font-btn;
    position: relative;
    &::after {
        content: '18+';
        position: absolute;
        font-family: $font-main;
        top: 10px;
        right: 20px;
        width: 20px;
        height: 20px;
        font-size: 1.2rem;
        font-weight: 400;
        color: $btn-color_1;
    }
}

.first-page {
    margin: 0 0 0 0;
    padding: 50px 0 0 0;
    width: 100%;
    height: 100vh;
    background-image: url(../img/answer_bg_mobile.jpg);
    background-size: cover;
    background-position: bottom right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.first-text {
    margin: 0 auto;
    width: 90%;
    background-color: $text-second_color;
    padding: 10px;
    font-family: $font-main;
    font-size: 1rem;
    line-height: 1.25;
    color: $text-main_color;
    font-weight: 400;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 5px rgba(180, 201, 214, 0.9);
}

.fpage-bottom {
    width: 90%;
    margin: 0 auto;
    padding: 0 0 35px 0;
}

$bg_hover: lighten(#CC4331, 5%);
.button {
    width: 100px;
    height: 100px;
    padding: 0 0 0 7px;
    font-size: 2rem;
    text-align: center;
    color: $text-second_color;
    background-color: #CC4331;
    border-radius: 50%;
    text-shadow: 0 -1px -1px darken(#CC4331, 7%);
    box-shadow: 0 4px 0 darken(#CC4331, 7%), 0 5px 5px 1px $btn-color_2;
    transition: all .15s ease-in-out;
    border: 0px;
    outline: none;
    &:hover {
        cursor: pointer;
        background-color: $bg_hover;
        text-shadow: 0 -1px -1px darken(#CC4331, 2%);
        box-shadow: 0 4px 0 darken($bg_hover, 7%), 0 5px 5px 1px #CC4331;
    }
    &:active {
        outline: none;
        margin-bottom: -4px;
        box-shadow: none;
    }
    &.pause {
        &:before {
            content: '||';
            font-size: 2.5rem;
            padding: 0 17px 0 7px;
            font-weight: 500;
        }
    }
    &.play {
        &:before {
            content: '\25B6';
            font-size: 2.5rem;
        }
    }
    &.again {
        &:before {
            content: '\21BB';
            font-size: 3.5rem;
            font-weight: 600;
        }
    }
}

._innactive {
    display: none;
}

.clouds-main {
    margin: -35px 0 0 -80px;
}

.clouds-play {
    width: 205px;
    height: 215px;
    background-image: url(../img/balloon-orange-mobile.png);
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
    &::before {
        position: absolute;
        content: '\2014\00A0Слышно? \00A0\00A0Не\00A0громко?';
        font-family: $font-main;
        color: $text-second_color;
        font-size: 1rem;
        line-height: 1.25;
        font-weight: 500;
        top: 65px;
        right: 70px;
        width: 100px;
    }
}

.clouds-pause {
    width: 205px;
    height: 215px;
    background-image: url(../img/balloon-green-mobile.png);
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
    &::before {
        position: absolute;
        content: '\2014\00A0А\00A0что, \00A0\00A0не\00A0понравилось?';
        font-family: $font-main;
        color: $text-second_color;
        font-size: 1rem;
        line-height: 1.25;
        font-weight: 500;
        top: 55px;
        right: 76px;
        width: 100px;
    }
}

.clouds-info {
    width: 205px;
    height: 215px;
    background-image: url(../img/balloon-blue-mobile.png);
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
    &::before {
        position: absolute;
        content: '\2014\00A0Листай ниже. Там\00A0подробности.';
        font-family: $font-main;
        color: $text-second_color;
        font-size: 1rem;
        line-height: 1.25;
        font-weight: 500;
        top: 64px;
        right: 35px;
        width: 135px;
    }
}

.clouds-site {
    width: 205px;
    height: 215px;
    background-image: url(../img/balloon-red-mobile.png);
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-main;
    color: $text-second_color;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 0 60px 0;
}

.link {
    color: $text-second_color;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        color: $text-main_color;
    }
}

.container {
    padding: 0 0 0 0;
    margin: 0 auto;
    width: 93vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.author-text {
    margin: 0 0 0 0;
    padding: 30px 0 30px 0;
    width: 100%;
    // height: 400px;
    font-family: $font-main;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: $text-main_color;
}

.video {
    margin: 0 auto;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    width: 100%;
    height: 162px;
}

.sign {
    margin: 5px 0;
    height: 70px;
    padding: 0 0 0 0;
    font-family: $font-main;
    color: $text-main_color;
    font-size: 0.8rem;
    display: flex;
    align-items: flex-end;
    &__link {
        cursor: pointer;
        &:hover {
            text-decoration: none;
            color: $btn-color_3;
        }
    }
}

@media only screen and (min-height: 600px) and (max-height: 749px) and (orientation: portrait) {
    .clouds-main {
        margin: 35px 0 0 -120px;
    }
    .author-text {
        font-size: 1.4rem;
        line-height: 1.25;
    }
}

@media only screen and (min-height: 750px) and (max-height: 799px) and (min-width: 500px) and (max-width: 599px) and (orientation: portrait) {
    .clouds-main {
        margin: 75px 0 0 -65px;
    }
    .author-text {
        font-size: 1.4rem;
        line-height: 1.25;
    }
    .video {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-height: 800px) and (max-height: 1024px) and (min-width: 600px) and (orientation: portrait) {
    .first-page {
        margin: 0 0 0 0;
        padding: 50px 0 0 0;
        width: 100%;
        height: 100vh;
        background-image: url(../img/answer_bg.jpg);
        background-size: cover;
        background-position: bottom right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .first-text {
        font-size: 2rem;
        line-height: 1.25;
    }
    .video {
        width: 550px;
        height: 308px;
    }
    .author-text {
        font-size: 1.6rem;
        line-height: 1.25;
    }
    .clouds-main {
        margin: 110px 300px 0 0;
    }
    .clouds-play {
        width: 500px;
        height: 208px;
        background-image: url(../img/balloon-orange-mobile.png);
        background-repeat: no-repeat;
        background-position: top right;
        position: relative;
        &::before {
            position: absolute;
            content: '\2014\00A0Слышно? \00A0\00A0Не\00A0громко?';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 500;
            top: 65px;
            right: 70px;
            width: 100px;
        }
    }
}

@media only screen and (max-width: 700px) and (orientation: landscape) {
    .first-text {
        margin: 0 auto;
        width: 50%;
    }
    .clouds-main {
        margin: -5% 0 0 -150px;
    }
    .clouds-play {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-orange.png);
        background-repeat: no-repeat;
        background-position: top right;
        position: relative;
        background-size: 85%;
        &::before {
            position: absolute;
            content: '\2014\00A0Слышно? \00A0\00A0Не\00A0громко?';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 500;
            top: 65px;
            right: 250px;
            width: 100px;
        }
    }
    .clouds-pause {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-green.png);
        background-repeat: no-repeat;
        background-position: top right;
        position: relative;
        background-size: 85%;
        &::before {
            position: absolute;
            content: '\2014\00A0А\00A0что, \00A0\00A0не\00A0понравилось?';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 500;
            top: 55px;
            right: 250px;
            width: 100px;
        }
    }
    .clouds-info {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-blue.png);
        background-repeat: no-repeat;
        background-position: top right;
        position: relative;
        background-size: 85%;
        &::before {
            position: absolute;
            content: '\2014\00A0Листай ниже. Там\00A0подробности.';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 500;
            top: 64px;
            right: 200px;
            width: 135px;
        }
    }
    .clouds-site {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-red.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $font-main;
        color: $text-second_color;
        font-size: 1rem;
        font-weight: 400;
        padding: 0 0 20px 0;
    }
}

@media only screen and (min-width: 700px) and (max-width: 799px) and (orientation: landscape) {
    .first-text {
        margin: 0 auto;
        width: 50%;
        font-size: 1.3rem;
    }
    .clouds-main {
        margin: 0 0 0 -150px;
    }
    .clouds-play {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-orange.png);
        background-repeat: no-repeat;
        background-position: top right;
        position: relative;
        background-size: 85%;
        &::before {
            position: absolute;
            content: '\2014\00A0Слышно? \00A0\00A0Не\00A0громко?';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 500;
            top: 65px;
            right: 250px;
            width: 100px;
        }
    }
    .clouds-pause {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-green.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 85%;
        position: relative;
        &::before {
            position: absolute;
            content: '\2014\00A0А\00A0что, \00A0\00A0не\00A0понравилось?';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 500;
            top: 55px;
            right: 250px;
            width: 100px;
        }
    }
    .clouds-info {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-blue.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 85%;
        position: relative;
        &::before {
            position: absolute;
            content: '\2014\00A0Листай ниже. Там\00A0подробности.';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 500;
            top: 64px;
            right: 200px;
            width: 135px;
        }
    }
    .clouds-site {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-red.png);
        background-repeat: no-repeat;
        background-position: top right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: 85%;
        align-items: center;
        font-family: $font-main;
        color: $text-second_color;
        font-size: 1rem;
        font-weight: 400;
        padding: 0 0 60px 0;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1023px) and (orientation: landscape) {
    .first-text {
        margin: 0 auto;
        width: 50%;
        font-size: 1.5rem;
    }
    .video {
        width: 550px;
        height: 308px;
    }
    .author-text {
        font-size: 1.6rem;
        line-height: 1.25;
    }
    .clouds-main {
        margin: 150px 0 0 0px;
    }
    .clouds-play {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-orange.png);
        background-repeat: no-repeat;
        background-position: top right;
        position: relative;
        background-size: 85%;
        &::before {
            position: absolute;
            content: '\2014\00A0Слышно? \00A0\00A0Не\00A0громко?';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 500;
            top: 65px;
            right: 250px;
            width: 100px;
        }
    }
    .clouds-pause {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-green.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 85%;
        position: relative;
        &::before {
            position: absolute;
            content: '\2014\00A0А\00A0что, \00A0\00A0не\00A0понравилось?';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 500;
            top: 55px;
            right: 250px;
            width: 100px;
        }
    }
    .clouds-info {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-blue.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 85%;
        position: relative;
        &::before {
            position: absolute;
            content: '\2014\00A0Листай ниже. Там\00A0подробности.';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 500;
            top: 64px;
            right: 200px;
            width: 135px;
        }
    }
    .clouds-site {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-red.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $font-main;
        color: $text-second_color;
        font-size: 1rem;
        font-weight: 400;
        padding: 0 0 60px 0;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) and (orientation: landscape) {
    .first-text {
        margin: 0 auto;
        width: 50%;
        font-size: 1.6rem;
    }
    .video {
        width: 550px;
        height: 308px;
    }
    .author-text {
        font-size: 1.6rem;
        line-height: 1.25;
    }
    .clouds-main {
        margin: 200px 0 0 100px;
    }
    .clouds-play {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-orange.png);
        background-repeat: no-repeat;
        background-position: top right;
        position: relative;
        background-size: 85%;
        &::before {
            position: absolute;
            content: '\2014\00A0Слышно? \00A0\00A0Не\00A0громко?';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1.4rem;
            line-height: 1.25;
            font-weight: 500;
            top: 65px;
            right: 250px;
            width: 100px;
        }
    }
    .clouds-pause {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-green.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 85%;
        position: relative;
        &::before {
            position: absolute;
            content: '\2014\00A0А\00A0что, \00A0\00A0не\00A0понравилось?';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 500;
            top: 55px;
            right: 250px;
            width: 100px;
        }
    }
    .clouds-info {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-blue.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 85%;
        position: relative;
        &::before {
            position: absolute;
            content: '\2014\00A0Листай ниже. Там\00A0подробности.';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 500;
            top: 64px;
            right: 200px;
            width: 135px;
        }
    }
    .clouds-site {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-red.png);
        background-repeat: no-repeat;
        background-position: top right;
        display: flex;
        background-size: 85%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $font-main;
        color: $text-second_color;
        font-size: 1rem;
        font-weight: 400;
        padding: 0 0 60px 0;
    }
}

@media only screen and (min-width: 1366px) and (orientation: landscape) {
    .first-text {
        margin: 0 auto;
        width: 50%;
        font-size: 1.6rem;
    }
    .video {
        width: 550px;
        height: 308px;
    }
    .author-text {
        width: 600px;
        font-size: 1.6rem;
        line-height: 1.25;
    }
    .clouds-main {
        margin: 80px 0 0 200px;
    }
    .clouds-play {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-orange.png);
        background-repeat: no-repeat;
        background-position: top right;
        position: relative;
        background-size: 85%;
        &::before {
            position: absolute;
            content: '\2014\00A0Слышно? \00A0\00A0Не\00A0громко?';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1.4rem;
            line-height: 1.25;
            font-weight: 500;
            top: 65px;
            right: 250px;
            width: 100px;
        }
    }
    .clouds-pause {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-green.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 85%;
        position: relative;
        &::before {
            position: absolute;
            content: '\2014\00A0А\00A0что, \00A0\00A0не\00A0понравилось?';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1.4rem;
            line-height: 1.25;
            font-weight: 500;
            top: 55px;
            right: 250px;
            width: 100px;
        }
    }
    .clouds-info {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-blue.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 85%;
        position: relative;
        &::before {
            position: absolute;
            content: '\2014\00A0Листай ниже. Там\00A0подробности.';
            font-family: $font-main;
            color: $text-second_color;
            font-size: 1.2rem;
            line-height: 1.25;
            font-weight: 500;
            top: 64px;
            right: 150px;
            width: 200px;
        }
    }
    .clouds-site {
        width: 500px;
        height: 250px;
        background-image: url(../img/balloon-red.png);
        background-repeat: no-repeat;
        background-size: 85%;
        background-position: top right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $font-main;
        color: $text-second_color;
        font-size: 1.3rem;
        font-weight: 400;
        padding: 0 0 60px 0;
    }
}